// Original styled div
const MyStyledDiv = glamorous.div({ margin: 1, fontSize: 1, padding: 1 })

// Composed style div, overwriting existing rules
const MyComposedStyledDiv = glamorous(MyStyledDiv)({ fontSize: 4, padding: 4 })

// Styles applied:
// { margin: 1, fontSize: 4, padding: 4 }

<MyComposedStyledDiv />
