// theme variables
export default withTheme({
  primaryColor: 'blue'
})(MyApp)

// theme variables as a function of props
export default withTheme(props => ({
  primaryColor: props.primaryColor
}))(MyApp)